.bg-gray-c15
{
    background-color: rgb(15, 15, 15);
}

.bg-gray-c25
{
    background-color: rgb(25, 25, 25);
}

.bg-gray-c35
{
    background-color: rgb(35, 35, 35);
}

.bg-gray-c45
{
    background-color: rgb(45, 45, 45);
}

.bg-gray-c55
{
    background-color: rgb(55, 55, 55);
}

.drag
{
    -webkit-app-region: drag;
}

.no-drag
{
    -webkit-app-region: no-drag;
}